<aside class="menu-sidebar2">
    <div class="logo">
        <a href="{{ url('home') }}">
            <img src="images/icon/logo-white.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar2__content js-scrollbar1">
        <div class="account2">
            <div class="image img-cir img-120">
                <img src="{{ user.avatar }}" alt="John Doe" />
            </div>
            <h4 class="name">{{ user.username }}</h4>
            <a href="{{ url('zfcuser/logout') }}">Sign out</a>
        </div>
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="{{ url('home') }}">
                        <i class="fas fa-chart-bar"></i>{% trans %}Home{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ url('betting') }}">
                        <i class="fas fa-chart-bar"></i>{% trans %}Bets{% endtrans %}</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
